<body>
    <div class="sidenav">
        <button class="dropdown-btn">Add/Remove Assets
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a>Add/Remove Buses</a>
      
        </div>
        <button class="dropdown-btn">Analytics
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <!-- <a [routerLink]="['/frequentlytravelledroutes']">Frequently travelled routes</a> -->
            <a [routerLink]="['/lastmonthrecordsandprofit']">Last month record </a>
            <a [routerLink]="['/mostpreferredtypeofbuses']">Most preferred types of buses</a>
            <a [routerLink]="['/registeredcustomerbutnoreservation']">Customer who have registered but not made any
                reservation</a>
            <a [routerLink]="['/reservationdetails']">Reservation details of customers (daily, weekly, monthly
                basis)</a>
        </div>
    </div>

    <div class="main">
        <h3>Reservation details of customers.</h3>

        <button class="card" (click)='reserveDaily()'>Daily</button><br><br>
        <div class="card" *ngFor="let c of daily">
            <div>Passenger ID  is: {{c.passengerId}}</div>
            <div>Name  is: {{c.name}}</div>
            <div>Age  is: {{c.age}}</div>
            <div>Gender  is: {{c.gender}}</div>    
            <div>Ticket ID is: {{c.ticketId}}</div>
        </div>
        <button class="card" (click)='reserveWeekly()' >Weekly</button><br><br>
        <div class="card" *ngFor="let c of weekly">  
            <div>Passenger ID  is: {{c.passengerId}}</div>
            <div>Name  is: {{c.name}}</div>
            <div>Age  is: {{c.age}}</div>
            <div>Gender  is: {{c.gender}}</div>    
            <div>Ticket ID is: {{c.ticketId}}</div>         
        </div>
        <button class="card" (click)='reserveMonthly()'>Monthly</button><br><br>
        <div class="card" *ngFor="let c of monthly">
            <div>Passenger ID  is: {{c.passengerId}}</div>
            <div>Name  is: {{c.name}}</div>
            <div>Age  is: {{c.age}}</div>
            <div>Gender  is: {{c.gender}}</div>    
            <div>Ticket ID is: {{c.ticketId}}</div>     
        </div>
    </div>
</body>