<div class="searchBus-content">
    <div class="searchDetails">
        <div>
            Passenger Information
        </div>
    </div>

    <div class="searchBus-card">
        <ul class="bus-items" style="list-style-type: none;">
            <div>
                <input class="un" type="email" id="email" name="email" placeholder="Enter Email">
                <input class="un" type="text" id="number" name="number" placeholder="Enter Contact Number"><br/>
                
                <div class="searchBus-card-nested" >
                <input class="un" type="text" id="pname" name="pname" placeholder="Enter Passenger Name"><br/>

                <input class="un" type="number" id="age" name="age" placeholder="Enter Age"><br/>

                <div class="genderStyle">Gender</div>
                <input type="radio" value="male" name="gender" required> Male
                <input type="radio" value="female" name="gender" required>Female
                <input type="radio" value="Other" name="gender" required>Other
            </div>
           
    
</div>
