<div class="searchBus-content">
    <div class="searchDetails">
        <div>
            Passenger Information
        </div>
    </div>

    <div class="searchBus-card">

        <div>
            <input class="un" type="email" id="email" name="email" placeholder="Enter Email" [(ngModel)]='customerdetails.email'>
            <input class="un" type="text" id="number" name="number" placeholder="Enter Contact Number" [(ngModel)]='customerdetails.contact'>

            <div class="searchBus-card-nested"  >
                <ul class="bus-items" style="list-style-type: none;">
                    <li>
                    <h3 class="passenger_seat">Passenger For Seat Number :{{seat}} </h3>
                <input class="un1" type="text" id="pname" name="pname" placeholder="Enter Passenger Name" [(ngModel)]='passengerdetails.name'><br />
                <input class="un1" type="number" id="age" name="age" placeholder="Enter Age" [(ngModel)]='passengerdetails.age' ><br />

                <div class="genderStyle">Gender</div><br />
                <input type="radio" value="male" name="gender"  class="genderStyle" required [(ngModel)]='passengerdetails.gender'> Male
                <input type="radio" value="female" name="gender"  class="genderStyle" required [(ngModel)]='passengerdetails.gender'>Female
                <input type="radio" value="Other" name="gender"  class="genderStyle" required [(ngModel)]='passengerdetails.gender'>Other <br/>
                <button (click)='addPassenger()' class="submit_pass" id="addPass">Add Passenger</button>
            </li>
                </ul>
                <div class="img_gif">
                   
                     <img src="./assets/busgif.gif" />
                     </div> 
            </div>
        
            <button type="submit" class="submit" (click)='bookTicket()' *ngIf='totalMembers==counter'> Proceed to Pay</button>

            
        </div>
        
     
    </div>
    
</div>