.bus-booking__bg {
  /* background: url(/assets/bgimage.jpg); */
  background-attachment: fixed;
  background-size: cover;
  background-position: 100%;
}

#search_div {
    bottom: 170px;
    width: 100%;
    height: 600px;
    box-sizing: border-box;    
}

.search-wrap {
  position: relative !important;
  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18);
  z-index: 5;
}

#search {
  width: 972px;
  margin-top: 30px;
  text-align: center;
  margin: 0 auto;
  display: block;
  position: relative;
    top: 120px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

element.style {
  border-color: rgb(210, 210, 210);
}

.search-box {
  width: 225px;
  border: 1px solid #d2d2d2;
  height: 46px;
  background-color: #fff;
  position: relative;
}

.fl {
  float: left;
}
div {
  display: block;
}

.flaticon-urban {
  font-size: 23px;
  padding-top: 4.3%;
  padding-right: 2.4%;
  padding-left: 2%;
  color: gray;
}

.fl {
  float: left;
}

input.db {
  color: #404040;
  width: 75%;
  height: 44px;
  padding-top: 6%;
  font-weight: 400;
  font-size: 14px;
}

.db {
  display: block;
  border: none;
}

input {
  line-height: normal;
}

button,
input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
input[type="text" i] {
  padding: 1px 2px;
}

input {
  text-rendering: auto;  
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none; 
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: text;    
  
}

label.db {
  color: #4a4a4a;
  position: absolute;
  bottom: 0;
  left: 14%;
  font-size: 12px;
  top: 35%;
  height: 25px;
  letter-spacing: 1px;
  font-weight: 400;
  letter-spacing: 0 !important;
  line-height: 15px;
}

.db {
  display: block;
  border: none;
  display: block !important;
}

label {
  cursor: default;
}

* {
  box-sizing: border-box;
}

#dest, #src {	  
    outline: none;
}

.date-box {
  width: 220px!important;
}

#calendar{
  width: 200px;
}

#start{
  position: relative;
  top:12px;
  left:30px;
  width:150px;
  border:blue;

}
.date-box label.db {
    left: 10%;
    top: 40%;
}
label.db {
    color: #4a4a4a;
    position: absolute;
    bottom: 0;
    left: 14%;
    font-size: 12px;
    top: 35%;
    height: 25px;
    letter-spacing: 1px;
    font-weight: 400;
    letter-spacing: 0!important;
    line-height: 15px;
}

.text-trans-uc {
    text-transform: uppercase;
}

#search .date-error {
    color: red;
    visibility: hidden;
    font-size: 11px;
    word-break: break-word;
}

#search_btn {
    height: 46px;
    width: 144px;
    border-width: 0;
    background-color: #d74f57;
    color: #fff;
    font-size: 14px;
    font-weight: 900!important;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
}

.button {
    display: inline-block;
    padding: 6px 16px 7px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;   
    position: relative;
    text-decoration: none;
    transition: .1s;
    border: none;
    text-align: center;
    background-color: #d84e55;
    color: #fff;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;

}
button, html input[type=button], input[type=reset], input[type=submit] {
   cursor: pointer;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.banner-wrapper {
    position: relative;
    height: 450px;
}
.head-banner {
    height: 450px;		 
}

.main-body {
    padding: 0 20px;					 
}

 .main-body, .main-header, .msg-wrapper, .sub-header {
    min-width: 1000px;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}
.HeroMain {
    width: 1122px;
    height: 340px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left:50px;
    padding-left:80px;
    padding-bottom:30px;
}

.img2_Hero {
    float: left;
    margin: 20px;
    background-repeat: no-repeat;
    background-image: url(//s3.rdbuz.com/Images/webplatform/measures/safetyplus.svg);
    width: 88px;
    height: 88px;
    background-size: contain;
}
.fl {
    float: left;
}
.Title_hero {
    font-weight: bolder;
    text-align: left;
    color: #3e3e52;
    font-size: 32px;
    font-weight: 700;
    margin-top: 27px;
}
.subtext_hero {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: .3px;
    text-align: left;
    color: #7e7e8c;
    margin-top: 10px;
}		
a, a:hover, a:visited {
text-decoration: none;
cursor: pointer;
-webkit-tap-highlight-color: transparent;
}
  
a, img {
border: none;
}
a {
background-color: transparent;
}

.fr {
    float: right;
}
.subHeader_hero {
    float: left;
    width: 83%;
    margin-top: 34px;
}
.Herotext1 {
    line-height: 1.71;
    letter-spacing: .3px;
}
.info_hero, .info_hero2 {
    float: left;
    width: 200px;
    padding-top: 33px;
}	   
.titl_hero, .value_hero {
    width: 278px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .3px;
    text-align: left;
}	  

.value_hero {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    color: #34495e;
    font-weight: 700;
    margin: 10px;
}
.text_hero {
    width: 278px;
    height: 60px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: .3px;
    color: #34495e;
    text-align: left;
}

.info_hero2 {
    margin-left: 99px;
    display: inline-block;
}
		   
.info_hero, .info_hero2 {
    float: left;
    width: 200px;
    padding-top: 33px;
}

.titl_hero {
    height: 24px;
    font-size: 19px;
    font-weight: bolder;
    color: #1446a0;
}

