<div class="bg_bus" style="background-image: url('/assets/bgBus.jpg');">
  <div class="about-card">
    <h2 class="Red XCN">
      Contact us
    </h2>

    <p class="western">
      <b>Address: </b> Plot No. EL-200, TTC Electronic Zone Shil Phata - Mahape Road Kopar Khairane, MIDC Industrial Area, Mahape, Navi Mumbai, Maharashtra 400710<br>
      <br>
      <b>Reach out to us at:
      </b>      
    </p>
    <ul class="contactUs" >
      <li >
       <b> Phone Number:</b> +91 9675677951
      </li>
      <li>
        <b>Drop us a mail at   : </b>supportatecobus@gmail.com
      </li>
    </ul>
  </div>
</div>
