<body>

    <div class="sidebar">
        <a href="#profile" [routerLink]="['/myprofile']"><i class="fa fa-fw fa-user"></i> My Profile</a>
        <a href="#bookings" [routerLink]="['/mybookings']"><i class="fa fa-fw fa-envelope"></i> My Bookings</a>
        <a href="#changepassword" [routerLink]="['/changepassword']"><i class="fa fa-fw fa-wrench"></i> Change
            Password</a>
        <a href="#wallet" [routerLink]="['/wallet']"><i class="fa fa-credit-card"></i> Wallet</a>
    </div>

    <div class="main">
        <h2>My Bookings</h2>
        <div class="card">
            <IMG SRC="../assets/booking.gif" width="400px" height="300px" style="float: left;"><br>
            <span><b>Ticket Number</b> : </span><br><br>
            <span><b>Date of Journey</b> : </span><br><br>
            <span><b>Date of Booking</b> : </span><br><br>
            <span><b>From City</b> : </span><br><br>
            <span><b>To City</b> : </span><br><br>
            <span><b>Number of Seats Booked</b> : </span><br><br>
            <span><b>Ticket Amount</b> : </span><br><br><br><br>
            <b><button class="cancelBooking" [routerLink]="['/cancellation']">Cancel Booking</button></b>
        </div>
    </div>

</body>