<div class="container" style="background-image: url('/assets/bgBus.jpg');">
  <div class="headerwidget"><!--card-->
            <div class="header">
                <b>
                RESCHEDULE TICKET
                </b>
            </div>
            <div class="headerTitle">
                <div class="headcaption">
                    Verify your details, and Re-Schedule your tickets
                </div> 
                    <div id="ticketInput">
                        <div class="tinheader">
                            TICKET NUMBER
                        </div>
                        <div class="fl search-box1">
                            <span class="boxImage"> </span>
                            <div>
                                    <input type="text" id="searchTicket" class="db label" placeholder="Enter your ticket number" autocomplete="off" data-validate="required" data-message="Please enter valid TIN"/>
                                    <div class="error-message-fixed"></div>
                            </div>
                    </div>
            </div>
                <div class="emailInput">
                        <div class="emailheader">
                            E-MAIL
                        </div>
                            <div class="fl search-box">                                       
                                <div>
                                    <input type="text" id="searchEmail" class="db1 label" placeholder="Enter e-mail used for booking" autocomplete="off" data-validate="required|email" data-message="Please enter EmailID| Please enter valid EmailID"/>
                                    <div class="error-message-fixed"></div>
                                </div>
                            </div>
                </div>
                <div class="ticketSubmit">
                    <input type="submit" value="SEARCH" class="search_btn" id="ticketSearch" />
                </div>
    </div>      
</div>




