.container{
    background-color: #ca5d63;
    height: 600px;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
  }
.headerwidget{
    width: 50%;
    height: 50%;
    position: relative;
    left: 450px;
    background-color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#ca5d63 ;
  }
  .header {
    
    font-size: 27.5px;
    color:#ca5d63 ;
    margin-bottom: 34px;
    margin-top: 30px;
   text-align: center;
}
.headcaption {
    font-size: 15px;
    margin-bottom: 50px;
    text-align: center;
    margin-top: -10px;
}
.tinheader {
    margin-left: 28px;
    font-weight: 500;
    width: 150px;
    margin-top: -13px;
    color: #484848;

}
#searchEmail, #searchTicket, #ticketSearch {
    outline: auto;
}
input.db {
    color: #4a4a4a;
    font-weight: 400;
    font-size: 14px;
    width: 40%;
    padding-left: 10px;
    margin-left: 28px;
}
input.db1 {
    color: #4a4a4a;
    font-weight: 400;
    font-size: 14px;
    width: 40%;
    padding-left: 10px;
    margin-left: 400px;
    margin-top: 1px;
}
.emailheader {
    
    font-weight: 500;
    
    color: #484848;
    margin-left: 400px;
    font-weight: 500;
    width: 150px;
    margin-top: -44px;
    color: #484848;
}
.ticketSubmit {
    display: inline-block;
    margin-top: 26px;
    margin-left: 24em;
}

/* 
  
  
*, :after, :before {
    box-sizing: border-box;
}
.headerwidget {
    text-align: center;
   margin-top: 0px;
}



#ticketInput {
    display: flex;
    flex-direction: row;
    margin-left: 15em;
    margin-top:0px;
    width: 100px;
}
body {
    color: #4a4a4a;
    height: 100%;
    overflow-y: scroll;
    word-break: break-word;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}


.boxImage, .fl {
    float: left;
}
.boxImage {
    margin-top: 12px;
    margin-left: 8px;
    margin-right: 8px;
}
.boxImage, .fl {
    float: left;
}



input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
input[type="text" i] {
    padding: 1px 2px;
}
.error-message-fixed {
    color: #d74f57;
}
.error-message-fixed, .errorMessageFixed {
    display: block;
    font-size: 11px;
    color: red;
    margin-top: 2px;
    text-align: right;
    word-break: keep-all;
}
.error-message-fixed {
    height: 17px;
}
.emailInput {
    display: inline-block;
    float: left;
    margin-left: -65px;
}

 */