<body>
    <div class="sidenav">
        <button class="dropdown-btn">Add/Remove Assets
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a>Add/Remove Buses</a>
            <a>Add/Remove Drivers</a>
            <a>Add/Remove Routes</a>
        </div>
        <button class="dropdown-btn">Analytics
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a [routerLink]="['/frequentlytravelledroutes']">Frequently travelled routes</a>
            <a [routerLink]="['/lastmonthrecordsandprofit']">Last month record and profits</a>
            <a [routerLink]="['/mostpreferredtypeofbuses']">Most preferred types of buses</a>
            <a [routerLink]="['/registeredcustomerbutnoreservation']">Customer who have registered but not made any reservation</a>
            <a [routerLink]="['/reservationdetails']">Reservation details of customers (daily, weekly, monthly basis)</a>
        </div>
    </div>

    <div class="main">
        <h2>Wallet</h2>
        <div class="card">
            <h2 class="head"><i class="fa fa-credit-card"></i> Your Wallet Balance :
                <span class="walletAmount"><i class="fa fa-inr"></i> {{walletBalance}}</span><br>
            </h2>
            <h3 class="subhead">
                <label for="addMoneyToWallet">Add Money to Wallet : </label>
                <input class="input" type="number" min="1" id="addMoney" name="addMoney" placeholder="Enter Amount"
                    style="text-align: center;" [(ngModel)]='amount' />
                <button (click)="addBalance()">ADD</button>
            </h3>
            <h3 class="message">{{message}}</h3>
        </div>
    </div>
</body>