<body>
    <div class="sidenav">
        <button class="dropdown-btn">Add/Remove Assets
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a [routerLink]="['/removebus']">Add/Remove Buses</a>
      
        </div>
        <button class="dropdown-btn">Analytics
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <!-- <a [routerLink]="['/frequentlytravelledroutes']">Frequently travelled routes</a> -->
            <a [routerLink]="['/lastmonthrecordsandprofit']">Last month record  s</a>
            <a [routerLink]="['/mostpreferredtypeofbuses']">Most preferred types of buses</a>
            <a [routerLink]="['/registeredcustomerbutnoreservation']">Customer who have registered but not made any reservation</a>
            <a [routerLink]="['/reservationdetails']">Reservation details of customers (daily, weekly, monthly basis)</a>
        </div>
    </div>

    <div class="main">
        <h2>Most preferred type of buses user like !</h2>
        <div class="card">
            <h3><span style="color: green; font-size: 100px;">{{typeOfBus}}</span> buses are the most preferred by the users.</h3>
        </div>
    </div>
</body>
   