<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Online Bus Booking</title>
  </head>
  <body> -->
<div class="header">
  <div class="bus-booking__brand-logo">
    <img class="ecologo" src="assets/bus.png" alt="Image not Found" />
  </div>
  <div class="bus-booking__nav-wrapper">
    <ul>
      <li class="bus-booking__nav-options">
        <a class="bus-booking__home" [routerLink]="['/homeLink']">Home</a>
      </li>
    </ul>
    <div class="bus-booking__mb-dropdown">
      <!---dropdown-->
      <button class="bus-booking__mb">
        <!--manageHeaderLbl-->
        Manage Booking
        <i class="fa fa-caret-down"></i>
      </button>

      <div class="bus-booking__mb-options">
        <!--dropdownoptions-->
        <a class="bus-booking__mb-list" href="/Cancellation">Cancel</a>
        <a class="bus-booking__mb-list" href="/Reschedule">Reschedule</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="main">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="footer">
  <p>© 2020 EcoBus All rights reserved</p>
</div>
<!-- </body>
</html> -->
