<div class="bus-booking__body">
  <div class="header">
    <div class="bus-booking__brand-logo">
      <a class="bus-booking__home" [routerLink]="['/homeLink']">
        <img class="ecologo" src="assets/bus.png" alt="Brand Logo" />
      </a>
    </div>
    <div class="bus-booking__brand-name">
      <h1 class="bus-booking__header">EcoBus.com</h1>
    </div>
  </div>
  <div class="app__row">
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
  
  <div class="footer">
    <p class="footer__text">© 2020 EcoBus All rights reserved</p>
  </div>
</div>
<!-- </body>
</html> -->
