<div class="bus-booking__body">
  <div class="header">
    <div class="bus-booking__brand-logo">
      <a class="bus-booking__home" [routerLink]="['/homeLink']">
        <img class="ecologo" src="assets/bus.png" alt="Brand Logo" />
      </a>
    </div>
    <div class="bus-booking__brand-name">
      <h1 class="bus-booking__header">EcoBus.com</h1>
    </div>
  </div>

  <div class="bus-booking__homepage">
    <ul>
      <li class="bus-booking__nav-contact">
        <a class="bus-booking__about" [routerLink]="['/about']">About</a>
        <a class="bus-booking__terms" [routerLink]="['/terms']">Terms Of Use</a>
        <a class="bus-booking__contact" [routerLink]="['/contact']"
          >Contact Us</a
        >
        <!-- <a class="bus-booking__dashboard" [routerLink]="['/dashboard']"
          >Dashboard</a
        > -->
      </li>
    </ul>
    <ul>
      <li class="bus-booking__nav-signin">
        <div class="bus-booking__mb-dropdown">
          <button class="bus-booking__mb">
            Already a member? Sign in
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="bus-booking__mb-options">
            <a class="bus-booking__mb-list" [routerLink]="['/loginCustomer']">Sign in as customer</a>
            <a class="bus-booking__mb-list" [routerLink]="['/loginAdmin']">Sign in as admin</a>
          </div>
        </div>
        <a class="bus-booking__register" [routerLink]="['/register']">Sign Up</a>
        <div class="bus-booking__mb-dropdown">
            <button class="bus-booking__mb">
              Manage Booking
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="bus-booking__mb-options">
            <a class="bus-booking__mb-list" [routerLink]="['/showMyTicket']">Show My Ticket</a>
            <a class="bus-booking__mb-list" [routerLink]="['/cancellation']">Cancel</a>
            <a class="bus-booking__mb-list" [routerLink]="['/reschedule']">Reschedule</a>
          </div>
        </div>

        <div class="bus-booking__user-dropdown">
          <div class="bus-booking__user">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        
            <i class="fa fa-caret-down"></i>
          </div>

          <div class="bus-booking__user-options">
            <ul class="config-list">
              <li class="bus-booking__user-list" [routerLink]="['/myprofile']">
                My Profile
              </li>
              <li class="bus-booking__user-list" [routerLink]="['/mybookings']">
                My Bookings
              </li>
              <li
                class="bus-booking__user-list"
                [routerLink]="['/changepassword']"
              >
                Change Password
              </li>
              <li class="bus-booking__user-list" [routerLink]="['/wallet']">
                Wallet
              </li>
              <li
              class="bus-booking__user-list" 
                [routerLink]="['/homeLink']"
              >
                Sign Out
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="app__row">
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer">
    <p class="footer__text">© 2020 EcoBus All rights reserved</p>
  </div>
</div>