<body>
    <div class="sidebar">
        <a href="#profile" [routerLink]="['/myprofile']"><i class="fa fa-fw fa-user"></i> My Profile</a>
        <a href="#bookings" [routerLink]="['/mybookings']"><i class="fa fa-fw fa-envelope"></i> My Bookings</a>
        <a href="#bookbus" [routerLink]="['/bookbuswithoutdriver']"><i class="fa fa-bus"></i> Book Bus</a>
        <a href="#changepassword" [routerLink]="['/changepassword']"><i class="fa fa-fw fa-wrench"></i> Change
            Password</a>
        <a href="#wallet" [routerLink]="['/wallet']"><i class="fa fa-credit-card"></i> Wallet</a>
    </div>


    <div class="main">
        <h2>Book your own EcoBus !!!</h2>
        <span style="color: red;">NOTE : This facility is only available without driver.</span><br><br><br><br>
        <div class="card">
            <h3 class="busName">BUS NAME
                <span class="noPlate">BUS PLATE NUMBER</span>
            </h3>
            <h4 class="nameOfBus" id="editable">Tiger Bus
                <span class="plate">UK 07 4568</span>
            </h4>
            <hr style="width:85%;height:2px;color: grey;background-color: grey;">
            <h3 class="busType">BUS TYPE
                <span class="noOfSeats">NUMBER OF SEATS</span>
            </h3><br><br>
            <h4 class="type" id="editable">AC
                <span class="seats">20
                </span>
            </h4>
        </div>
    </div>
</body>