<body>
    <div class="sidebar">
        <a href="#profile" [routerLink]="['/myprofile']"><i class="fa fa-fw fa-user"></i> My Profile</a>
        <a href="#bookings" [routerLink]="['/mybookings']"><i class="fa fa-fw fa-envelope"></i> My Bookings</a>
        <a href="#changepassword" [routerLink]="['/changepassword']"><i class="fa fa-fw fa-wrench"></i> Change
            Password</a>
        <a href="#wallet" [routerLink]="['/wallet']"><i class="fa fa-credit-card"></i> Wallet</a>
    </div>


    <div class="main">
        <h2>Book your own EcoBus !!!</h2>
        <b><span style="color: red;">NOTE : Buses are available without driver.</span></b><br><br><br><br>
        <div class="card">
            <span><b>Bus Name</b> : </span><br><br>
            <span><b>Bus Plate Number</b> : </span><br><br>
            <span><b>Bus Type</b> : </span><br><br>
            <span><b>Number of Seats</b> : </span><br><br>
        </div>

    </div>
</body>