<body>

    <div class="sidebar">
        <a href="#profile" [routerLink]="['/myprofile']"><i class="fa fa-fw fa-user"></i> My Profile</a>
        <a href="#bookings" [routerLink]="['/mybookings']"><i class="fa fa-fw fa-envelope"></i> My Bookings</a>
        <a href="#bookbus" [routerLink]="['/bookbuswithoutdriver']"><i class="fa fa-bus"></i> Book Bus</a>
        <a href="#changepassword" [routerLink]="['/changepassword']"><i class="fa fa-fw fa-wrench"></i> Change
            Password</a>
        <a href="#wallet" [routerLink]="['/wallet']"><i class="fa fa-credit-card"></i> Wallet</a>
    </div>

    <div class="main">
        <h2>My Profile</h2>
        <div class="card">
            <!-- <button (click)="makeEditable()">EDIT</button> -->
            <h3 class="yourName">YOUR NAME
                <span class="age">AGE</span>
            </h3>
            <h4 class="userName" id="editable">{{viewProfile.name}}
                <span class="customerAge">{{viewProfile.age}}</span>
            </h4>
            <h3 class="gender">GENDER
            </h3>
            <div class="genderInput">
               <b> <span>{{viewProfile.gender}}</span></b>
            </div>
            <hr style="width:85%;height:2px;color: grey;background-color: grey;">
            <h3>CONTACT DETAILS</h3>
            <h3 class="email">EMAIL ID
                <span class="phoneNumber">PHONE NUMBER</span>
            </h3>
            <h4 class="emailInput" id="editable">{{viewProfile.email}}
                <span class="phoneInput">{{viewProfile.contact}}
                </span>
            </h4>

        </div>
    </div>
</body>