<div class="sidebar">
    <a href="#profile" [routerLink]="['/myprofile']"><i class="fa fa-fw fa-user"></i> My Profile</a>
    <a href="#bookings" [routerLink]="['/mybookings']"><i class="fa fa-fw fa-envelope"></i> My Bookings</a>
    <a href="#changepassword" [routerLink]="['/changepassword']"><i class="fa fa-fw fa-wrench"></i> Change Password</a>
    <a href="#wallet" [routerLink]="['/wallet']"><i class="fa fa-credit-card"></i> Wallet</a>
</div>

<div class="main">
    <h1>My Profile</h1>
    <div class="card">
        <h1>John Doe</h1>
        <p class="title">Date of Birth</p>
        <p>Contact</p>
        <p>email     phone no.</p>
    </div>   
</div>
