<div class="sidebar">
    <a href="#profile" [routerLink]="['/myprofile']"><i class="fa fa-fw fa-user"></i> My Profile</a>
    <a href="#bookings" [routerLink]="['/mybookings']"><i class="fa fa-fw fa-envelope"></i> My Bookings</a>
    <a href="#changepassword" [routerLink]="['/changepassword']"><i class="fa fa-fw fa-wrench"></i> Change Password</a>
    <a href="#wallet" [routerLink]="['/wallet']"><i class="fa fa-credit-card"></i> Wallet</a>
</div>


<div class="main">
    <h1>Wallet</h1>
    <div class="card">
        <h1 class="head"><i class="fa fa-credit-card"></i> Your Wallet Balance
            <span class="walletAmount"><i class="fa fa-inr"></i> {{walletBalance}}</span><br>
            <label for="addMoneyToWallet">Add Money to Wallet :</label>
            <input type="number" min="1" id="addMoney" name="addMoney" [(ngModel)]='amount'/>
        </h1>

        <button (click)="addBalance()">Add</button>
        <h3>{{message}}</h3>
    </div>
</div>