<div class="sidenav">
    <button class="dropdown-btn">Add/Remove Assets
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a>Add/Remove Buses</a>
        <a>Add/Remove Drivers</a>
        <a>Add/Remove Routes</a>
    </div>
    <button class="dropdown-btn">Analytics
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a>Frequently travelled routes</a>
        <a>Last month record and profits</a>
        <a>Most preferred types of buses</a>
        <a>Customer who have registered but not made any reservation</a>
        <a>Reservation details of customers (daily, weekly, monthly basis)</a>
    </div>
</div>

