<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="row">
    <div class="main">

      <div class="card">
        <h2 style="text-align: center;"></h2>
        <form >
          <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username *" id="uname" required>


            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password *" id="psw" required>

            <label for="email"><b>Email Address</b></label>
            <input type="email" placeholder="Enter Email Address *" id="email" required>

            <label for="city"><b>City</b></label>
            <input type="text" placeholder="Enter City *" id="city" required>

            <label for="mobile"><b>Mobile No.</b></label>
            <input type="tel" placeholder="Enter Mobile Number *" onkeypress="validate1();" id="mobile" required>
            <span id="mberror" style="color: red;"></span>

            <button type="submit">Register </button>
            <p>New something</p>
            <p>Again added something</p>
            <p>Something new</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
